.blog-preview-card {
  background-color: var(--neutral-1);
  padding: 1.5rem;
  width: 88%;
  height: 522px;
  min-width: 328px;
  max-width: 385px;
  border: 1px solid var(--neutral-3);
  border-radius: 1rem;
  margin-bottom: 24px;
  box-shadow: 8px 8px 0 var(--neutral-3);
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}

.blog-preview-card:hover,
.blog-preview-card:focus-within {
  transform: translate(-8px, -8px);
  box-shadow: 16px 16px 0 var(--neutral-3);
}

.blog-preview-card:hover a,
.blog-preview-card:focus-within a {
  color: var(--primary);
}

.blog-preview-card * {
  margin: 0;
}

/* Blog Preview Image */
.blog-preview-card > img {
  display: block;
  height: 200px;
  width: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
}

.card-content {
  padding: 24px 0;
}

.tags-container {
  margin-bottom: 13px;
  list-style-type: none;  
  padding: 0;
}

.tags {
  font-size: 14px;
  display: inline-block;
  font-weight: 700;
  padding: 6.5px 13px;
  border-radius: 6px;
}

.learning-tag {
  background-color: var(--primary);
}

.blog-preview-card p:has(> time) {
  font-size: inherit;
  line-height: 21px;
  margin-bottom: 13px;
}

.blog-title {
  font-size: 1.5rem;
  line-height: 36px;
  margin-bottom: 13px;
}

.blog-title a {
  color: var(--neutral-3);
  text-decoration: none;
}

.blog-description {
  font-size: inherit;
  line-height: 21px;
  color: var(--neutral-2);
}

.author-info {
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  font-weight: 700;
}

.author-info > img {
  width: 32px;
  height: 32px;
}

@media (max-width: 450px) {
  .blog-preview-card {
    font-size: .875rem;
  }
  .blog-title {
    font-size: 1.3125rem;
  }
}