@font-face {
  font-family: 'Figtree';
  src: url(../assets/fonts/Figtree-VariableFont_wght.ttf);
}

:root {
  --primary: hsl(47, 88%, 63%);
  --neutral-1: hsl(0, 0%, 100%);
  --neutral-2: hsl(0, 0%, 50%);
  --neutral-3: hsl(0, 0%, 7%);
}

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-family: 'Figtree', Arial, Helvetica, sans-serif;
  font-size: 16px;
}

body {
  color: var(--neutral-3);
  background-color: var(--primary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}